
# these are extensions ignored by git

*.code-workspace
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.lof
*.out
*.run.xml
*.synctex.gz
*.toc

*-blx.bib

*.~lock.*

*.mp4

*sync-conflict*

# these are folders ignored by git
.git

# these are files ignored by git
